<div class="container">
  <h2>My Movie Lists</h2>
  <div class="cards">
    <% @lists.each do |list|%>
      <%= link_to list_path(list) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "http://source.unsplash.com/featured/?#{list.name}&#{rand(1000)}"%>)">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
