a {
  text-decoration: none;
}

h2 {
  color: $light-gray;
}

body {
  background-color: $dark-gray;
}

.container {
  position: relative;
}

input,
select,
textarea {
  color: $medium-gray;
}

textarea:focus,
input:focus {
  color: $medium-gray;
}
