a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $red;
  }
}

h1 {
  color: $white;
  font-weight: 900;
  // margin-top: 200px;
  // margin-left: 80px
  margin: auto;
}

h2 {
  color: $light-gray;
  margin: 16px;
}

body {
  background-color: $dark-gray;
}

.container {
  position: relative;
  margin-bottom: 24px;
}

input,
select,
textarea {
  color: $gray;
}

textarea:focus,
input:focus {
  color: $medium-gray;
}
