.form-new-list {
  width: 100%;
  right: -24px;
  margin: 16px;
  background-color: $medium-gray;
  padding: 16px;
  padding-top: 56px;
  color: $white;
  border-radius: 4px;
  font-size: 14px;
  height: 350px;
}

.form-new-movie {
  width: 100%;
  right: -24px;
  background-color: $medium-gray;
  padding: 16px;
  padding-top: 56px;
  color: $white;
  border-radius: 4px;
  font-size: 14px;
  height: 380px;
}

.form-control,
.form-select {
  font-size: 12px;
  padding: 0.15rem 0.25rem;
}

.form-input {
  background-color: $medium-gray;
}

.form-btn {
  background-color: $light-gray;
  border-radius: 3px;
}
