.form-new-list {
  width: 200px;
  position: absolute;
  right: -24px;
  margin: 16px;
}

.form-input {
  background-color: $medium-gray;
}

.form-btn {
  background-color: $medium-gray;
  border-radius: 3px;
}
