.navbar {
  // overflow: hidden;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  // position: sticky;
  position: absolute;
  top: 0px
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  // overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 24px;
  border: none;
  outline: none;
  color: $white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: $dark-gray;
  border-radius: 3px;
  opacity: 0.1;
  transition: 0.1s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $dark-gray;
  opacity: 0.1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: $white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: $medium-gray;
  opacity: 0.1;
}

.show {
  display: block;
}


// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
